################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EasyLab.Server.AccessManager/bin
/EasyLab.Server.AccessManager/obj
/EasyLab.Server.Business/bin
/EasyLab.Server.Business/obj
/EasyLab.Server.Business.Interface/bin
/EasyLab.Server.Business.Interface/obj
/EasyLab.Server.Common/bin
/EasyLab.Server.Common/obj
/EasyLab.Server.Conversions/bin
/EasyLab.Server.Conversions/obj
/EasyLab.Server.Data/bin
/EasyLab.Server.Data/obj
/EasyLab.Server.Data.Persistence/bin
/EasyLab.Server.Data.Persistence/obj
/EasyLab.Server.DTOs/bin
/EasyLab.Server.DTOs/obj
/EasyLab.Server.Repository.Interface/bin
/EasyLab.Server.Repository.Interface/obj
/EasyLab.Server.Resources/bin
/EasyLab.Server.Resources/obj
/EasyLab.Server.Response.Result/bin
/EasyLab.Server.Response.Result/obj
/EasyLab.Server.REST.Services/bin
/EasyLab.Server.REST.Services/obj
/EasyLab.Tools.Db/bin
/EasyLab.Tools.Db/obj
/EasyLab.Tools.Db.SqlCe/bin
/EasyLab.Tools.Db.SqlCe/obj
/EasyLab.WS.DeviceAgent/bin
/EasyLab.WS.DeviceAgent/obj
/packages
*.user
/.vs
/.cov
*.suo
