<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral" requirePermission="false"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="easylab_device_service_address" value="http://{0}:{1}"/>
    <add key="easylab_auditLogTimer_interval" value="60"/>
    <add key="easylab_messageTimer_interval" value="60"/>
    <!--<add key="easylab_server_api_address" value="http://{0}:{1}/compnano/easylab/api/v1/"/>-->
    <add key="easylab_server_api_address" value="http://{0}/client/"/>
  </appSettings>
  <connectionStrings>
    <add name="TestConnectionContext" connectionString="Data Source= C:\Program Files\EasyLab\DeviceAgent\Data\TestConnection.sdf" providerName="System.Data.SqlServerCe.3.5"/>
  </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
    <targets>
      <target name="file" xsi:type="File" autoFlush="true" fileName="${basedir}/logs/EasyLabDeviceAgent.log" layout="${longdate} ${uppercase:${level}} ${message}" archiveFileName="${basedir}/logs/archives/EasyLabDeviceAgent.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="false"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file"/>
    </rules>
  </nlog>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5"/>
      <add name="Microsoft SQL Server Compact Data Provider 3.5" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
</configuration>
